* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Anek Latin', sans-serif;

  --text-color: #fff;
  --bg-color: #181716;
  --default-yellow: #d0a133e6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100vw;
  height: 9rem;
  background-color: var(--default-yellow);
  display: flex;
  justify-content: center;
}

.logo img {
  width: 12rem;
  height: 10rem;
  filter: brightness(1.2);
}

.containerDescription {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 1.5rem;
}

.containerDescription p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.containerImg img {
  width: 100vw;
  /* transform: scale(1.3); */
}

.infosLar {
  margin: 2rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.infosLar > p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.infosLar .time,
.infosLar .location {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.infosLar .time img,
.infosLar .location img {
  width: 3rem;
  height: 3rem;
  margin-left: -0.3rem;
}

.infosLar span {
  margin: 0.7rem 1.5rem 0 0;
  font-weight: 700;
  font-size: 1.3rem;
}

footer {
  background-color: var(--default-yellow);
  margin-top: 2rem;
  z-index: -2;
}

footer .contact {
  display: flex;
  align-items: center;
}

footer .pulse {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 1rem;
  position: relative;
}

footer .pulse:before,
footer .pulse:after {
  content: '';
  position: absolute;
  top: 1.1rem;
  left: 1.1rem;
  width: 55%;
  height: 55%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.8;
  animation: 1.8s ease .2s infinite normal none running pulse;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 1);
	}
	80% {
		box-shadow: 0 0 0 1.3rem rgba(37, 211, 102, 0);
	}
}

footer img {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%,50%);
  width: 3rem;
  height: 3rem;
}

footer p {
  font-size: 1.2rem;
  margin-left: -0.5rem;
}

footer span {
  text-align: center;
  font-weight: 700;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}


