* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#dcc5ad,#86796c);
}

body img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  width: 95vw;
  height: 95vh;
}
